<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <label for="價錢"></label>
        <input type="text" v-model="roomdata.price">
        <h1>房間的資料</h1>
        <h2>名稱{{roomdata.name}}</h2>
        <h2>價錢{{roomdata.price}}</h3>
        <h2>最後的價錢{{final_price}}</h2>

        <h1>房間列表</h1>
        <ul>
            <li v-for="room in rooms">{{room.name}}</li>
        </ul>
    </div>

    <script>
 new Vue({
        el:"#app",
        data:{
            rooms:[
                {name:"room1"},
                {name:"room2"},
                {name:"room3"}
            ],
            roomdata:{
                name:"經濟雙人房",
                eng:"Economy Double Room",
                price:3000,
                amount:0,
                cover:"http://bosscode.monoame.com/20170323_vue_comp/img/room%20(1).jpg",
                discount:0.9,
                equipent:{
                    wifi:false,
                    bathtub:true,
                    breakfast:true
                }
            }
        },
        computed:{
            final_price: function(){
                return this.roomdata.price * this.roomdata.discount;
            }
        }
    });

    </script>
   
</body>
</html>